<!-- <app-logo ></app-logo > -->
    <div class="formContainer">
        <h4>Register Details for SignUp</h4>
        <form [formGroup]="registrationForm">
          <div class="form-group">
            <label for="usr">*Name:</label>
            <input
              type="text"
              class="form-control"
              id="usr"
              placeholder="Enter Name"
              name="userName"
              formControlName="userName"
            />
            <div
              *ngIf="
                registrationForm.get('userName').invalid &&
                registrationForm.get('userName').touched
              "
            >
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('userName').hasError('required')"
              >
                <strong>Error!</strong> This field is required.
              </div>
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('userName').hasError('minlength')"
              >
                <strong>Error!</strong> This field requires minimum 3 characters.
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <label for="pwd">*Password:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="Enter password"
              name="password"
              formControlName="password"
              (keyup)="setValidator()"
            />
            <div
              *ngIf="
                registrationForm.get('password').invalid &&
                registrationForm.get('password').touched
              "
            >
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('password').hasError('required')"
              >
                <strong>Error!</strong> This field is required.
              </div>
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('password').hasError('minlength')"
              >
                <strong>Error!</strong> This field requires minimum 6 characters.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cpwd">*Cofirm Password:</label>
            <input
              type="password"
              class="form-control"
              id="cpwd"
              placeholder="Confirm password"
              name="confirmPassword"
              formControlName="confirmPassword"
              (keyup)="setValidator()"
            />
            <div
              *ngIf="
                registrationForm.get('confirmPassword').invalid &&
                registrationForm.get('confirmPassword').touched
              "
            >
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('confirmPassword').hasError('required')"
              >
                <strong>Error!</strong> This field is required.
              </div>
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('confirmPassword').hasError('minlength')"
              >
                <strong>Error!</strong> This field requires minimum 6 characters.
              </div>
              <div
                class="alert alert-danger"
                *ngIf="
                  registrationForm.get('confirmPassword').hasError(
                    'confirmPasswordValidator'
                  )
                "
              >
                <strong>Error!</strong> password does not match.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">*Email:</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Enter Email"
              name="email"
              formControlName="email"
            />
            <div
              *ngIf="
                registrationForm.get('email').invalid && registrationForm.get('email').touched
              "
            >
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('email').hasError('required')"
              >
                <strong>Error!</strong> This field is required.
              </div>
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('email').hasError('minlength')"
              >
                <strong>Error!</strong> This field requires minimum 6 characters.
              </div>
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('email').hasError('email')"
              >
                <strong>Error!</strong> This field has invalid characters.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="dob">*DOB:</label>
            <input
              type="text"
              class="form-control"
              id="dob"
              placeholder="Enter DOB"
              name="dob"
              formControlName="dob"
            />
            <div
              *ngIf="
                registrationForm.get('dob').invalid && registrationForm.get('dob').touched
              "
            >
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('dob').hasError('required')"
              >
                <strong>Error!</strong> This field is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">*Telephone no:</label>
            <input
              type="number"
              class="form-control lastBtn"
              id="phone"
              placeholder="Enter Telephone"
              name="telephone"
              formControlName="telephone"
            />
            <div
              *ngIf="
                registrationForm.get('telephone').invalid &&
                registrationForm.get('telephone').touched
              "
            >
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('telephone').hasError('required')"
              >
                <strong>Error!</strong> This field is required.
              </div>
              <div
                class="alert alert-danger"
                *ngIf="
                  registrationForm.get('telephone').hasError('min') ||
                  registrationForm.get('telephone').hasError('max')
                "
              >
                <strong>Error!</strong> This field requires exact 10 digits.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="role">*Access Level:</label>
            <select
              id="role"
              class="form-control lastBtn"
              name="role"
              formControlName="role"
            >
              <option value="1">full access</option>
              <option value="2">read only</option>
            </select>
            <div
              *ngIf="
                registrationForm.get('role').invalid && registrationForm.get('role').touched
              "
            >
              <div
                class="alert alert-danger"
                *ngIf="registrationForm.get('role').hasError('required')"
              >
                <strong>Error!</strong> This field is required.
              </div>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="apiFlag && !apiSuccess">
            <strong>Error!</strong> {{ errorMessage }}
          </div>
          <div class="alert alert-success" *ngIf="apiFlag && apiSuccess">
            <strong>Success!</strong> Registration successful !!
            
          </div>
          <div class="form-group clearfix">
            <button
              type="button"
              class="btn btn-secondary clearBtn"
              (click)="clearFun()"
            >
              Clear
            </button>
      
            <button
              type="submit"
              class="btn btn-primary submitBtn"
              (click)="submitForm()"
            >
              Submit
            </button>
         
          </div>
        </form>
        <a routerLink="/login/login">Back to Login</a>
      </div>
      