.formContainer {
    width: 500px;
    margin: 0px auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
  }
  
  .alignLastElement {
    float: left;
  }
  
  .clearBtn {
    float: left;
    margin-top: 20px;
  }
  .submitBtn {
    float: right;
    margin-top: 20px;
  }
  