

<div class="formContainer">
    <h4>Login</h4>
  
    <form #loginForm="ngForm"> 
      <div class="form-group">
        <label for="usr">*Name:</label>
        <input
          type="text"
          class="form-control"
          id="usr"
          placeholder="Enter Name"
          name="userName"
          minlength="3"
          required
          [(ngModel)]="username"
          #userName="ngModel"
        />
        <div
          class="alert alert-danger"
          *ngIf="(userName.touched || loginForm.submitted) && userName.errors?.required"
        >
          <strong>Error!</strong> This field is required.
        </div>
        <div
          class="alert alert-danger"
          *ngIf="(userName.touched || loginForm.submitted) && userName.errors?.minlength"
        >
          <strong>Error!</strong> This field requires minimum 3 characters.
        </div>
      </div>
  
      <div class="form-group">
        <label for="pwd">*Password:</label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          placeholder="Enter password"
          name="password"
          minlength="6"
          required
          [(ngModel)]="password"
          #pwr="ngModel"
        />
        <div
          class="alert alert-danger"
          *ngIf="(pwr.touched || loginForm.submitted) && pwr.errors?.required"
        >
          <strong>Error!</strong> This field is required.
        </div>
        <div
          class="alert alert-danger"
          *ngIf="(pwr.touched || loginForm.submitted) && pwr.errors?.minlength"
        >
          <strong>Error!</strong> This field requires minimum 6 characters.
        </div>
      </div>
      <div
          class="alert alert-danger"
          *ngIf="errorStr"
        >
          {{errorStr}}
        </div>

      <div class="form-group clearfix">
        <button
          type="button"
          class="btn btn-secondary clearBtn"
          (click)="clearFun(loginForm)"
        >
          Clear
        </button>
        <button
          type="submit"
          class="btn btn-primary submitBtn"
          (click)="submitForm(loginForm,userName)"
          
        >
          Submit
        </button>
      </div>
    </form>
    <a routerLink="/login/forgotPassword">forgot Password</a> |
    <a routerLink="/login/registration">Registration</a>
  </div>
  
